<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<div class="common-user-box">
				<div class="caption">
						<%= form_for(@blog) do |f| %>
					<nav class="caption-heading">
						<ul>
							<li>
								<%= attachment_image_tag @blog, :image_id, size:'200x250', format: 'jpeg', class: "glyphicon glyphicon-camera" %>
							</li>
							<li>
								新規投稿
							</li>
							<li>
								<%= f.submit "投稿する", class: "btn btn-primary", method: :post, "data-confirm" => "You have creatad book successfully." %>
								<!-- 入力エラーの場合if文でエラー表示 -->
							</li>
						</ul>
					</nav>

					<div class="caption-body">
						<%= f.text_area :body %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
