<% @blogs.each do |blog| %>
  <article class="new-arriving-blog slide">
    <div class="article-header">
      <table>
          <tr>
            <td>
              <%= link_to user_path(blog.user.id) do %>
                <%= attachment_image_tag blog.user, :profile_image, size:'50x50', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
              <% end %>
            </td>
            <td class="user-name"><%= link_to "#{blog.user.name}", user_path(blog.user.id) %></td>
            <td><%= blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
          </tr>
      </table>
    </div>

    <div class="blog-main">
      <%= link_to blog_path(blog.id) do %>
        <%= attachment_image_tag blog, :image, size:'500x420' %>
      <% end %>
      <a><%= blog.body %></>
    </div>

    <div class="article-footer">
      <div class="blog-icon">
        <% if current_user != blog.user %>
          <% if blog.favorited_by?(current_user) %>
            <%= link_to blog_favorites_path(blog, redirect_id: 0), method: :delete, remote: true do %>
              <!-- <i class="fa fa-heart" style="color: red;"><%= blog.favorites.count%>いいね</i> -->
              <span class="glyphicon glyphicon-heart"><%= blog.favorites.count%>いいね</span>
            <% end %>
          <% elsif %>
            <%= link_to blog_favorites_path(blog, redirect_id: 0), method: :post, remote: true do %>
              <!-- <i class="fa fa-heart-o"><%= blog.favorites.count %>いいね</i> -->
              <span class="glyphicon glyphicon-heart-empty"><%= blog.favorites.count %>いいね</span>
            <% end %>
          <% end %>
        <% end %>

        <% if current_user == blog.user %>
          <i class="fa fa-heart"><%= blog.favorites.count %>いいね</i>
        <% end %>
          <%= link_to '', blog_path(blog.id), class: "fa fa-comment" %><%= blog.blog_comments.count %>コメント
          <!-- <span class="fa fa-edit">コメントする</span> -->
      </div>
    </div>
  </article>
<% end %>






