<header>
  <nav class="navbar navbar-left">
    <h3 class="logo">
      <%= link_to "logo", users_path %>
    </h3>
  </nav>
  <!-- 検索窓///検索機能実装未 -->
    <nav class="navber navbar-center">
        <div class="serch">
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <!-- 虫眼鏡アイコンに変更したい -->
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <%#= form_for( Genre.new, url: items_path, method: :get ) do | f | %>
            <%#= f.text_field :name, style: 'border: none; color: gray; margin-left: 8px;', placeholder: "検索" %>
          <!-- ↓↓検索マーク(glyphicon glyphicon-search)にlinkつけられるか?? -->
            <%#= f.submit 'serch', class: 'glyphicon glyphicon-search', style: 'border: none; color: black;' %>
            <%# end %>
        </div>
    </nav>

  <nav class="navbar nav-right">
    <ul class="navber-link">
      <li>
        <%= link_to "", users_path, class: "glyphicon glyphicon-home" %>
      </li>
      <li>
        <%= link_to "", new_blog_path, class: "fa fa-paper-plane" %>
      </li>
      <li>
        <%= link_to "", user_favorites_path(current_user), class: "glyphicon glyphicon-heart-empty" %>
      </li>
      <li>
        <%= link_to "", user_path(current_user), class: "glyphicon glyphicon-heart-empty"%>
        <%#= attachment_image_tag profile_image.current_user, :profile_image, size:'20x20', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
      </li>
    </ul>
  </nav>
</header>