<div class="sidebar-right">
  <div class="sidebar-heading">
    <table class="current-user-profile">
      <tr>
        <th>
          <%= link_to user_path(current_user) do%>
            <%= attachment_image_tag current_user, :profile_image, size:'50x50', fallback: 'no_image.jpg', class: "profile-image-circle img-circle pull-left profile-thumb" %>
          <% end %>
        </th>
        <th>
          <%= link_to "#{current_user.name}", user_path(current_user) %>
        </th>
      </tr>
    </table>
  </div>
  <!-- following-user一覧 -->
  <div class="relationships-user-list">
    <div class="user-list-box">
      <div class="box-heading">
        <h5>フォロー中</h5>
        <h5><%= link_to "すべて見る", user_follows_path(current_user) %></h5>
      </div>
      <table class="followed-user-list">
        <% @followers.each do |follower| %>
          <tr>
            <td class="image">
              <%= link_to user_path(follower) do %>
                <%= attachment_image_tag follower, :profile_image, size:'40x40', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
              <% end %>
            </td>
            <td class="name"><%= follower.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <!--  followed-user一覧 -->
    <div class="user-list-box">
      <div class ="box-heading">
        <h5>フォロワー</h5>
        <h5><%= link_to "すべて見る", user_unfollows_path(current_user) %></h5>
      </div>
      <table class="following-user-list">
        <% @followeds.each do |followed| %>
          <tr>
            <td class="image">
              <%= link_to user_path(followed) do %>
                <%= attachment_image_tag followed, :profile_image, size:'40x40', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
              <% end %>
            </td>
            <td class="name"><%= followed.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


