<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<div class="common-user-box">
				<div class="edit-form">
				  <%= form_for(@user) do |f| %>
				  	<% if @user.errors.any? %>
							<div class="error_explanation">
								<h4>入力エラー項目が<%= @user.errors.count %>件あります。</h4>
								  <ul>
								  	<% @user.errors.full_messages.each do |message| %>
								    	<li><%= message %></li>
								  	<% end %>
								  </ul>
								</div>
						<% end %>

						<table>
							<tr height="100">
								<th class="image"><%= attachment_image_tag @user, :profile_image, size:'70x70', format: 'jpeg', fallback: 'no_image.jpg', class: " img-circle pull-left profile-thumb" %></th>
								<td><h2><%= @user.name %><h2></td>
							</tr>
							<!-- 以下余白間隔調整のため個別にheight設定 -->
							<%#= render "devise/shared/error_messages", resource: resource %>
							<tr height="50">
								<th>ユーザネーム</th>
								<td><label for="user_name"></label>
										<%= f.text_field :name %>
								</td>
							</tr>
							<tr height="90">
								<th>自己紹介</th>
								<td><label for="user_introduction"></label>
										<%= f.text_area :introduction, :size=>"35x3" %>
								</td>
							</tr>
							<tr height="70">
								<th>メールアドレス</th>
								<td><label for="email"></label>
										<%= f.text_field :email, :size=>"40x2" %>
										<p>⚠︎メールアドレスはプロフィールには公開されません</p>
								</td>
							</tr>
							<tr height="60">
								<th>プロフィール写真</th>
								<td><%= f.attachment_field :profile_image, id: :profile_image %></td>
								<!-- プレビューのため追加 -->
							</tr>
							<tr>
							</tr>
						</table>
							<%= f.submit "送信する", class: "btn btn-primary submit", "data-confirm" => "この内容で変更しますか?" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>














