<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<div class="common-user-box">
				<div class="edit-form">
				  <%= form_for(@user) do |f| %>
						<table>
							<tr height="110">
								<th class="image"><%= attachment_image_tag @user, :profile_image, size:'70x70', format: 'jpeg', fallback: 'no_image.jpg', class: " img-circle pull-left profile-thumb" %></td>
								<td><h2><%= @user.name %><h2></td>
							</tr>
							<!-- 以下余白間隔調整のため個別にheight設定 -->
							<%#= render "devise/shared/error_messages", resource: resource %>
							<tr height="50">
								<th>ユーザネーム</th>
								<td><label for="user_name"></label>
										<%= f.text_field :name %>
								</td>
							</tr>
							<tr height="90">
								<th>自己紹介</th>
								<td><label for="user_introduction"></label>
										<%= f.text_area :introduction, :size=>"35x3" %>
								</td>
							</tr>
							<tr height="70">
								<th>メールアドレス</th>
								<td><label for="email"></label>
										<%= f.text_field :email, :size=>"40x2" %>
										<p>⚠︎メールアドレスはプロフィールには公開されません</p>
								</td>
							</tr>
							<tr height="100">
								<th>パスワード変更<br>
										<p>(6文字以上)</p>
								</th>
								<td>新しいパスワード
										<%= f.hidden_field :reset_password_token %>
											<label for="new_password">
												<% if @minimum_password_length %>
      										<em>(<%= @minimum_password_length %> characters minimum)</em>
    										<% end %>
    										<%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
											</label></br>
										確認用
											<label for="password_confirmation">
												<% if @minimum_password_length %>
      										<em>(<%= @minimum_password_length %> characters minimum)</em>
    										<% end %>
												<%= f.password_field :password_confirmation %>
											</label>
											<p>⚠︎パスワードはプロフィールには公開されません</p>
								</td>
							</tr>
							<tr height="60">
								<th>プロフィール写真</th>
								<td><label for="user_profile_image"></label>
										<%= f.attachment_field :profile_image %>
								</td>
							</tr>
						</table>
							<%= f.submit "送信する", class: "btn btn-primary submit", "data-confirm" => "この内容で変更しますか?" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- パスワード再設定用にdevise viewからコピー -->
<!-- <label class="control-label sr-only" for="inputEmail"></label> -->
  <%#= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード(6文字以上)" %>
<!-- <label class="control-label sr-only" for="inputEmail"></label> -->
  <%#= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
















