<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<h3>あなたをフォロー中</h3>
				<div class="common-relationship-box">
					<table class="user-list">
            <%# @user.follower_user.where.not(id: current_user.id).each do |user| %>
              <% @followeds.each do |followed| %>
                <tr>
                	<td class="image">
                    <%= link_to user_path(following) do %>
                     <%= attachment_image_tag followed, :profile_image, size:'50x50', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
                    <% end %>
                	</td>
                	<td class="name"><%= link_to "#{current_user.followed.name}", user_path(@folloeds) %></td>
                  <td>
                    <% if current_user.following?(user) %>
                      <h4>フォロー中</h4>
                    <% else %>
                      <%= link_to 'フォローする', follow_path(user.id), method: :post, class: "btn btn-primary"  %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <%# end %>
          </table>
        </div>
    </div>
  </div>
</div>

<!-- attachment_image_tag following.followed -->