<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<h3>あなたをフォロー中</h3>
				<div class="common-relationship-box">
					<table class="follower-user-list">
            <% @followings.each do |following| %>
              <tr>
                <%= link_to user_path(following) do %>
                	<td class>
  	                <%= attachment_image_tag following.followed, :profile_image, size:'50x50', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
                	</td>
                	<td class="name"><%= following.followed.name %></td>
                <% end %>
                <td>
                <%# if current_user != user %>
                  <% if current_user.unfollow?(user) %>
                    <%= link_to 'フォローする', create_relation_path(user.id), method: :post, class: "btn btn-primary"  %>
                  <% else %>
                    <h4>フォロー中</h4>
                  <% end %>
                <%# end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>
