<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-offset-3 col-md-6 col-md-offset-3 ">
			<h3>フォロー中</h3>
				<div class="common-relationship-box">
					<table class="following-user-list">
            <% @followeds.each do |followed| %>
              <tr>
                <%= link_to user_path(followed) do %>
                	<td>
  	                <%= attachment_image_tag followed.following, :profile_image, size:'50x50', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
                	</td>
                	<td class="name"><%= followed.following.name %></td>
                <% end %>
                  <td>
                    <%= link_to 'フォローを外す', user_destroy_relation_path(followed.id), method: :delete, class: "btn btn-danger" %>
                  </td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>
