<%= render 'users/header' %>

<div class="container">
  <%= flash[:success] %>

  <div class="row">
  <!-- 新着blog表示 -->
    <div class="col-md-offset-1 col-md-6">
      <% @blogs.each do |blog| %>
      <article class="new-arriving-blog">
        <section class="blog-item clearfix">
          <div class="article-heading">
            <%= link_to user_path(blog.user.id) do %>
              <%= attachment_image_tag blog.user, :profile_image, size:'60x60', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
              <%= blog.user.name %>
            <% end %>
            <%= blog.created_at.to_s(:datetime_jp) %>
          </div>

          <div class="blog-body">
            <%= link_to blog_path(blog.id) do %>
              <%= attachment_image_tag blog, :image, size:'100x100', format: 'jpeg', fallback: 'no_image.jpg', size:'100x100' %>
            <% end %>
            <%= blog.body %>
          </div>

          <div class="article-footer">
            <ul class="blog-icon">
              <!-- いいね＆いいね一覧登録機能 いいね一覧登録のためにはf.submit? -->
              <li>
                <% if blog.favorited_by?(current_user) %>
                  <%= link_to blog_favorites_path(blog, redirect_id: 0), method: :delete do %>
                  <%#= fa_icon "heart", text: "#{book.favorites.count}", style: "color: red;" %>
                  <span class="glyphicon glyphicon-heart"><%= blog.favorites.count%></span>
                  <% end %>
                <% else %>
                  <%= link_to blog_favorites_path(book, redirect_id: 0), method: :post do %>
                   <%#= fa_icon "heart-o", text: "#{book.favorites.count}", style: "color: red;" %>
                  <span class="glyphicon glyphicon-heart-empty"><%= blog.favorites.count %></span>
                  <% end %>
                <% end %>
              </li>
              <li>
                <span class="far fa-comment"><%= blog.comments.count %>
              </li>
            </ul>

            <div class="new-comment-form">
              <%= form_for [@blog, @blog_comment] do |f| %>
                <input class="form-control mr-sm-3" type="text" placeholder="Commnets" aria-label="Comments">
                <%= f.text_area :comment %>
                <%= f.submit "投稿する", blog_blog_comments_path, method: :patch, "data-confirm" => "このコメントを投稿しますか?" %>
              <% end %>
            </div>
          </div>
      </article>
        <% end %>
    </div>

    <!-- side-bar 部分テンプレート -->
    <div class="col-md-offset-1 col-md-4">
      <%= render 'users/sidebar' %>
    </div>
  </div>
</div>
<!-- </div> -->

      テスト用ユーザ表示
      <table>
        <% @users.each do |user| %>
          <tr>
            <%= link_to user_path(user) do %>
              <td>
                <%= attachment_image_tag user, :profile_image, size:'60x60', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %></td>
              <td><%= user.name %></td>
             <% end %>
            <!-- フォローフォロワー機能 -->
              <td>
                <% if current_user != user %>
                  <% if current_user.following?(user) %>
                    <%= link_to 'フォローを外す', user_destroy_relation_path(user.id), method: :delete, class: "btn btn-danger" %>
                  <% else %>
                    <%= link_to 'フォローする', user_create_relation_path(user.id), method: :post, class: "btn btn-primary"  %>
                  <% end %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </table>
