<%= render 'users/header' %>

<div class="container">
	<div class="row">
		<div class="page-left">
			<div class="user-image col-md-1">
				<%= attachment_image_tag @user, :profile_image, size:"100x100", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
			</div>
			<div class="col-md-5">
				<div class="user-data">
					<div class="user-profile">
						<ul>
							<li>
							  <h1><%= @user.name %></h1>
							</li>
						  	<li>
						  		<!-- テストユーザで表示確認 -->
						      <% if @user.id == current_user.id %>
							    	<%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-default" %>
							  	<% elsif @user == current_user.following?(user) %>
		    						<%= link_to 'フォロ-中', destroy_relation_path(user_id), method: :delete, class: "btn btn-default", "data-confirm" => "フォローをやめますか？" %>
		  					  <% else %>
		    					  <%= link_to 'フォローする', create_relation_path(user_id), class: "btn btn-primary" %>
		  					  <% end %>
						    </li>
						</ul>
					</div>
					<div class="relationships-count">
						<ul>
						  <li>投稿<%= @user.blogs.count %>件</li>
						  <li><%= link_to "フォロー中#{@user.followeds.count}人", users_followings_path %></li>
						  <li><%= link_to "フォロワー#{@user.followeds.count}人", users_followings_path %></li>
						</ul>
					</div>
					<div class="user-introduction">
						<%= @user.introduction %>
						<p>ここにintroductionが入ります</p>
						<p>ここにintroductionが入ります</p>
						<p>ここにintroductionが入ります</p>
					</div>
					<div class="user-wirhdraw">
						<% if @user.id == current_user.id %>
							<%= form_for(current_user, url: user_path) do | f | %>
								<%= f.hidden_field :is_deleted, value:true %>
								<%= f.submit "退会する", class: "btn btn-danger", "data-confirm" => "本当に退会しますか？" %> %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-offset-1 col-md-5">
			<div class="blogs-by-user">
				<!-- user indexとほぼ共通フォーマット -->
			</div>
		</div>
	</div>
</div>

<!-- ながのCAKE退会処理コード -->
<%#= form_for(current_end_user, url: end_user_path) do | f | %>
			<%#= f.hidden_field :is_deleted, value:true %>
			<%#= f.submit "退会する", class: "btn btn-danger" %>
			<%# end %>




